%div{:style => "width: 660px; height: 500px;"}
  %video{ :src => params[:mobile] ? @video.mobile_output_url : @video.output_url, :width => "640", :height => "480" }
:javascript
  $('video').mediaelementplayer();
