.DS_Store
.bundle
.ruby-version
*.kpf

.powrc
.rvmrc
.sass-cache/
_build/*
config/database.yml
config/deploy.rb
config/dispatch_daemon.yml
config/s3.yml
db/*.sqlite3
db/help/index
doc/api
doc/app
index/*
log/*.log
public/assets/*
public/webstats
public/system/*
script/dispatch_daemon_fetcher
rails_best_practices_output.html
tmp/**/*
tmp/tags
vendor/ruby

nbproject/*
tmp
