- drawer_asset ||= asset
%li[drawer_asset]
  .asset
    .thumbnail
      - if drawer_asset.attachment_content_type =~ /image/
        = link_to image_tag(drawer_asset.icon_path), drawer_asset.attachment.url(:medium), :class => 'fancybox', :title => drawer_asset.title, :rel => "image_group"
      - else
        = link_to image_tag(drawer_asset.icon_path), drawer_asset.attachment.url, :target => "_"
    %small= drawer_asset.list_title
    .spacer{:style => "height: 4px;"}
    = link_to "Use This Asset", '#', :class => (params[:single] ? "attach-to-object" : "prepare-for-editor")