.message{:style => "display: none;"}


#queue

#upload-template{:style => "display: none;"}
  .upload_progress.curly-box
    .upload_status
    %a.cancel{:href => "javascript:;", :class => "cancel_upload", :style => "display: none;"}= image_tag 'forge/button-cancel.gif'
    .outer_upload_bar
      .upload_bar
