.float-left
  %form{:id => "search-help", :style => "display: inline;"}
    = text_field_tag :help_query, '', :class => 'search', :id => "help-query"
    = button_submit_tag "Go", :id => "help-search", :class => "button no-icon smaller"

.float-right
  = link_to "Help Index", '/forge/help'
  &nbsp;&nbsp;
  = link_to "Leave Help", '#', :id => "close-help"
.spacer{:style => "height: 30px;"}
