= javascript_include_tag 'swfupload', 'jquery.swfupload'

= render :partial => "forge/assets/upload_progress"

%table.form
  = form_row("Select File(s):") { content_tag :div, '', :id => "swfupload-button"}

%small Uploading will commence as soon as you select your files.

#swfupload-control

= render :partial => "swfupload"
